
.bottom-dashed {
    border-bottom: 1px dashed #999;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.modal-story-preference>button{
    display:none
}
.nav-link:hover{
    background-color:transparent
}

